div.transleteIcon{
    display: flex!important;
    position: absolute;
    color: red!important;
}
.transleteIcon{
    display: flex!important;
    position: absolute;
    color: red!important;
}
.MuiFormControl-root.makeStyles-formControl-2{
    display: flex!important;
    position: absolute;
    color: red!important;
}